@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quicksand:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(51, 51, 51);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
footer {
    background-color: #ebfffc;
}

main {
    flex: 1;
}

header h1 {
    color: #333;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

footer h6 {
    color: #333;
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
}


.card {
    background: linear-gradient(135deg, #00feba, #7d75b1);
    border-radius: 20px;
    color: #fff;
    margin: 70px auto 0;
    max-width: 500px;
    padding: 20px 40px;
    width: 90%;
}

.search {
    display: flex;
    justify-content: space-around;
    margin: 10px ;
    gap: 15px;
}

.search input{
    background-color: rgba(235, 255, 252, .7);
    border-radius: 30px;
    border: 0;
    color: #555;
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    outline: 0;
}

.search input:focus {
    background-color: rgba(235, 255, 252, .9);
}

.search button {
    background-color: rgba(235, 255, 252, .7);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;
    height: 40px;
    width: 40px;
}

.search button:hover {
    background-color: rgba(235, 255, 252, .9);
}

.search button img {
    margin-top: 4px;
    width: 20px;
}

.todo {
    font-size: 20px;
    padding: 10px 30px;
}

.todo ol li {
    border-radius: 10px;
    padding: 5px 10px;
    user-select: none;
}

.todo ol li:nth-child(even) {
    background-color: rgba(85, 85, 85, .3);
}

.action {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.completed, 
.empty,
.save {
    background-color: rgba(71, 135, 255, .7);
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
}

.empty {
    background-color: rgba(255, 71, 71, .7);
}

.save {
    background-color: rgba(114, 255, 71, 0.6);
}

.completed:hover {
    background-color: rgba(71, 135, 255, .9);
}

.empty:hover {
    background-color: rgba(255, 71, 71, .8);
}

.save:hover {
    background-color: rgba(114, 255, 71, 0.7);
}

.done {
    text-decoration: line-through;
    color: #e0e0e0;
}

.no-todo,
.error {
    font-weight: normal;
    font-size: 16px;
    margin: 25px 0 0 15px;
    text-decoration: underline;
}

.error {
    display: none;
}